/* Ovako se piše komkentar */

/* selektori elemenata */
body {
    background-color: antiquewhite;

}
h1{
    color: #ff00ff;
    text-align: center;
    font-family: sans-serif;
}

h2 {
    color: blue;
}

/* selektor klase */
.naslov{
    color: green;
}

div p{
    color: aqua;
}

/* selektor identifikacije */
#sadrzaj{
    font-family: sans-serif;
}

ul{
    list-style: none;
}

ul li::before{
    content: "👹";
}