body{
    background-color: antiquewhite;
}

ul{
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

ul li{
    text-align: center;
}

ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.panel{
    border: 1px solid black;
    min-height: 300px;
    text-align: center;
    text-align: justify;
    padding: 1.5em;
}

.a{grid-area: a;}
.b{grid-area: b;}
.c{grid-area: c;}
.d{grid-area: d;}
.e{grid-area: e;}
.f{grid-area: f;}
@media(max-width: 549px) {
.a, .b, .f {
    display: none;
}

}

/* Tableti */

@media (min-width: 550px) and (max-width: 800px) {
    body{
        background-color: beige;
    }


    main{
        display: grid;
        grid-template-areas: 
        "b b"
        "c f"
        ;
    }
    .panel{
        font-family: sans-serif;
    }

.a, .d, .e {
    display: none;
}


}




/* Desktop i više */
@media (min-width: 801px){
    body{
        background-color: chocolate;
    }

main{
    display:grid;
    grid-template-areas: 
    "a b b"
    "c d e"
    "f f f"
    ;
}


}
/* Printanje */

@media print{
    header{
        display: none;
    }
    main{
        display: grid;
        grid-template-areas: 
        "c"
        "d"
        "e"
        ;
    }
}


@media (prefers-color-scheme: dark){
    ul li a{
        background-color: black;
        color: white;
    }
}

