body{
    background-color: antiquewhite;
}

table,td,th{
    border: 1px solid blue;
    border-collapse: collapse;
}

table{
    width: 100vh;

}

th{
    background-color: #f0f1f0;
    font-weight: normal;
    text-transform: uppercase;
    font-family: sans-serif;
    padding: 0.8rem;
}

tbody tr:hover{
    background-color: aqua;
}

tbody tr :first-child{
    text-align: right;
}

caption{
    caption-side: bottom;
}